# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore build artifacts
build/
dist/
ventral.egg-info/
*.egg
*.whl

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore secrets & config files
ventral_api_client/config.py
.env

# Ignore log and temporary files
*.log
*.tmp
